*{
    
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container-wrapper{
    height: 50vh;
    border: 1px solid tomato;
    margin-bottom:1rem;
    margin-left: auto;
    margin-right:auto;
}



.square{
    width:50px;
    height:50px;
}


/*Utilities for COLOR*/
.bg-yellow{
    background-color: goldenrod;
}

.bg-purple{
    background-color: indigo;
}

.bg-pink{
    background-color: pink;
}

.bg-blue{
    background-color: lightskyblue;
}

/*Utilities for FLEX*/
.d-flex{
    display: flex;
}

.justify-flex-start{
    justify-content: flex-start;
}

.justify-flex-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
.flex-direction-column{
    flex-direction: column;
}

.justify-flex-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}
.items-strech{
    width: 50px;
    height: calc(50vh);
    
}

.rectangle{
    width: calc(100% - 120px );
    height: 50px;
}
.rectangle-container{
    width: calc(90vw/2);
    height: 100px;
}
.rectangle-footer{
    width: 100vw;
    height: 50px;
}

.container-auxiliar{
    padding:10px;
    border: 1px solid green;
    background-color: greenyellow;
}
