.square{
    height: 100px;
    width: 100px;
}

div.red{
    /*
    background-image: url("https://picsum.photos/id/237/200/300") ;
    background-repeat:no-repeat ;
    background-position:center ;
    background-size:cover ;
    */

    /*Es lo mismo que arriba solo que lo agrupamos*/
    background: url("https://picsum.photos/id/237/200/300") center/cover  no-repeat;
}

.degradado{
    background: linear-gradient(orange, pink);
}