$color-dark-blue: hsl(233, 26%, 24%);
$color-lime-green: hsl(136, 65%, 51%);
$color-bright-cyan: hsl(192, 70%, 51%);

$color-grayish-blue: hsl(233, 8%, 62%);
$color-light-grayish-blue: hsl(220, 16%, 96%);
$color-very-light-gray: hsl(0, 0%, 98%);
$color-White: hsl(0, 0%, 100%);
$size-title: 35px;
$size-title-second: 32px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
}
h1 {
  font-size: $size-title;
  color: $color-dark-blue;
  margin: 20px 0;
}
h2 {
  font-size: $size-title-second;
  color: $color-dark-blue;
  margin: 20px 0;
}
h3 {
  margin: 20px 0;
}
button {
  background: linear-gradient(
    90deg,
    $color-lime-green 0%,
    $color-bright-cyan 100%
  );
  color: white;
  padding: 18px 42px;
  border-radius: 42px;
  border: none;
  font-size: 12pt;
  cursor: pointer;
  margin: 0 auto;
  width: 280px;
  @media screen and (min-width: 1024px) {
    margin: inherit;
  }
}

section {
  padding: 20px 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: center;
  @media only screen and (min-width: 1024px) {
    padding: 30px 0;
    justify-content: space-around;
  }

  ul {
    list-style: none;
    height: 30px;
    li {
      float: left;
      padding: 0 10px;
      cursor: pointer;
      &:hover {
        border-bottom: 5px solid $color-lime-green;
      }
    }
  }

  .menu-mobile {
    display: inherit;
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  .menu-desktop {
    display: none;
    @media only screen and (min-width: 1024px) {
      display: inherit;
    }
  }

  .button {
    display: none;
    @media only screen and (min-width: 1024px) {
      display: inherit;
    }
  }
}

#section-principal {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(" ");
  background-position: 600px center;
  background-repeat: no-repeat;
  color: $color-grayish-blue;
  background-color: $color-very-light-gray;
  @media only screen and (min-width: 1024px) {
    background-image: url("images/bg-intro-desktop.svg");
    flex-direction: row-reverse;
    text-align: left;
  }
  .elem-img {
    background-image: url("images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    @media only screen and (min-width: 1024px) {
      height: 600px;
      width: 100%;
      background-image: url(" ");

      &:before {
        content: "";
        background-image: url("images/image-mockups.png");
        height: 100%;
        width: 572px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        right: 0;
      }
    }

    img {
      display: inherit;
      width: 100%;
      @media only screen and (min-width: 1024px) {
        display: none;
      }
    }
  }
  .elem-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
  }

  button {
    margin-top: 20px;
  }
  @media only screen and (min-width: 1024px) {
  }
}

#section-dos {
  background-color: $color-light-grayish-blue;
  text-align: center;
  font-size: 1.2rem;
  div {
    /*border:1px solid white;*/
    padding: 30px 10px;
  }
  h2,
  h3 {
    color: $color-dark-blue;
  }
  p {
    color: $color-grayish-blue;
  }
}

#section-tres {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-evenly;
  background-color: $color-very-light-gray;
  h2 {
    text-align: center;
  }
  h4,
  p,
  figure figcaption {
    padding-left: 24px;
    padding-right: 24px;
  }

  div {
    background-color: $color-White;
    margin: 25px;
    border-radius: 15px 15px 0px 0px;
  }
  figure img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }
  figure figcaption {
    color: $color-grayish-blue;
    font-size: 11px;
    margin: 28px 0px;
  }
  p {
    color: $color-grayish-blue;
    margin: 15px 0px 25px;
    font-size: 13px;
  }
}

footer {
  background-color: $color-dark-blue;
  padding: 20px 0;

  & > div {
    padding: 10px 0;
  }

  & div:nth-child(2) {
    padding-bottom: 0px;
  }

  .col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
      padding: 10px 0;
    }
    span {
      color: $color-White;
      font-weight: bold;
      font-size: 25px;
    }
  }
  .col2 {
    color: #fff;
    display: flex;
    justify-content: center;
    ul {
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 8px 0;
      }
    }
  }
  .col3 {
    color: #fff;
    display: flex;
    justify-content: center;
    ul {
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 8px 0;
      }
    }
  }
  .col4 {
    display: flex;
    justify-content: center;
  }
  .col5 {
    display: flex;
    justify-content: center;
    color: $color-grayish-blue;
  }
}

@media only screen and (min-width: 1024px) {
   #section-dos {
    display:flex;
    flex-direction: column;
    text-align: left;
    padding: 0 5%;
    h2{
      ~p{
        max-width: 60%;  
      }
    }
    .wrapper{
      display:flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      div{
        margin:0 30px 0 0;
        width: 222px;
        padding: 0;
      }
    }
  }
  
  #section-tres{
    text-align: left;
    h4:hover{
     
      background: linear-gradient($color-lime-green,$color-bright-cyan);
   -webkit-background-clip: text;
     color: transparent;
      cursor: pointer;
    }
    h2{
      text-align: left;
      padding: 0 80px;
    }
    h4,p,figure figcaption {
      padding:none;
    }
    div{
      background-color: $color-very-light-gray;
      margin:30px;
    }
    p{
      padding:20px;
    }
    .cards-wrapper{
      display: flex;
      align-items: space-between;
      
      padding:30px;
      div figure img{
         height: 25vh;
      }

    }
    
  }
  footer{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    .wrapper1{
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
    .wrapper2{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }
    
    li:hover,img:hover{
      cursor: pointer;
      color: $color-lime-green;
    }
    button:hover{
      opacity:.50;
    }
  }
}