*{
    
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-wrapper{
    height: 50vh;
    border: 1px solid tomato;
    margin-bottom:1rem;
    margin-left: auto;
    margin-right:auto;
}



.square{
    width:50px;
    height:50px;
}


/*Utilities for COLOR*/
.bg-yellow{
    background-color: goldenrod;
}

.bg-purple{
    background-color: indigo;
}

.bg-pink{
    background-color: pink;
}

.bg-blue{
    background-color: lightskyblue;
}

/*Utilities for FLEX*/
.d-flex{
    display: flex;
}

.justify-flex-start{
    justify-content: flex-start;
}

.justify-flex-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
.flex-direction-column{
    flex-direction: column;
}

.justify-flex-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}
.items-strech{
    width: 50px;
    height: calc(50vh);
    
}

.rectangle{
    width: calc(100% - 120px );
    height: 50px;
}
.rectangle-container{
    width: calc(90vw/2);
    height: 100px;
}
.rectangle-footer{
    width: 100vw;
    height: 50px;
}

.container-auxiliar{
    padding:10px;
    border: 1px solid green;
    background-color: greenyellow;
}
/*Utilities practice cards*/
.bg-insta{
    background-color: #DD2A7B;
}

.card{
    /*width: calc(50%/3);*/
    border-radius: 3px;
    padding: auto;
    margin: 1rem;
    border: 1px solid black;
}
.auxiliar-card{
    /*border: 1px solid black;*/
}


.auxiliar-card img{
    position: relative;
    width: 80px;
    height: 80px;
    
}

/*
.container-wrapper div:nth-of-type(even){
    color: white;
}

.container-wrapper div:nth-child(1) button{
    border: 1px black
}

.boton{
    width: 200px;
    height: 30px;
    border-radius: 15px ;
}


.container-wrapper div:nth-child(2) button{
    background-color: white;
    color: #DD2A7B;
    text-align: center;
}
.button-cambia{
    background-color: black;
    color: white;
    text-align: center;
}
*/